//
// activity-sessions-layout Styling
// --------------------------------------------------

// Variables
// -------------------------
@jp-sched-act-wizard-layout-header-padding: 8px;

@jp-sched-act-wizard-layout-title-header-top-margin: 10px;
@jp-sched-act-wizard-layout-title-header-bottom-margin: 50px;

md-card.base-layout {
  padding: 0;
}

// Layout
// -------------------------
.activity-wizard-layout.header {
  padding-left: @jp-sched-act-wizard-layout-header-padding;
  padding-right: @jp-sched-act-wizard-layout-header-padding;
}

.activity-wizard-layout.jp-title.header {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: @jp-sched-act-wizard-layout-title-header-top-margin;
  margin-bottom: @jp-sched-act-wizard-layout-title-header-bottom-margin;
}