<div class="activity-session-layout jp-title header">
    <span class="title">{{vm.activityLabel}}</span>
    <span class="subtitle text-muted">
        <span>{{vm.activityCategory}}</span>
        <span ng-show="vm.activityIsWomenOnly">| Women Only</span>
    </span>
</div>

<div class="activity-session-layout header">
    <span class="title">Schedule</span>
    <span class="subtitle text-muted">This Week</span>
</div>

<md-card>
    <jp-schedule-activity-sessions-list
            schedule="vm.activitySessions">
    </jp-schedule-activity-sessions-list>
</md-card>
