<div class="activity-wizard-layout jp-title header">
    <img src="assets/brand/justPlayVector(dark-2).png" alt="brand"/>
    <!--<span class="title">UTSC Drop-In Schedule</span>-->
    <span class="subtitle text-muted">
        <span>Simplest way to browse UTSC's Drop-in Schedule</span>
    </span>
</div>

<md-card class="base-layout" ng-cloak>
        <jp-schedule-activity-wizard
                layout="column"
                flex
                layout-fill
                activities='vm.activities'></jp-schedule-activity-wizard>
</md-card>