<footer>
    <p class="text-muted">Follow us on:</p>
    <div class="social-media">
        <a href="https://www.facebook.com/UTSCJustPlay">
            <img class="icon" src="assets/icons/FB-f-Logo__blue_50.png" alt="Facebook"/>
        </a>
        <a href="https://www.twitter.com/justplayca">
            <img class="icon" src="assets/icons/twitter.png" alt="Facebook"/>
        </a>
    </div>
    <p class="text-muted small-text">Disclaimer: We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with UTSC Department of Athletics & Recreation, or any of its subsidiaries or its affiliates.</p>
</footer>